* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./Assets/background.png);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  margin: 20px;
}

h2 {
  color: rgb(140, 207, 23);
  font-size: 3.5rem;
}

span {
  color: rgba(255, 166, 0, 0.63);
}

ul {
  display: flex;
  list-style: none;
}

ul li {
  margin: 0 20px;
}

ul li a {
  text-decoration: none;
  color: coral;
  font-size: 1.5rem;
}

.tvshow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.tvshow h3 {
  margin: 20px;
  font-size: 2.5rem;
  color: #ccc;
}

.show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.like-button {
  display: inline-block;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.like-button svg {
  width: 2.5em;
  height: 2.5em;
  fill: #ccc;
}

.like-button.liked svg {
  fill: #f00;
}

.comments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.show-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  align-items: center;
}

.show-item {
  display: flex;
  flex-direction: column;
  margin: 30px;
  padding: 20px;
  background-color: rgba(79, 76, 76, 0.301);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(21, 168, 21, 0.5);
}

.show-item .show-image {
  border-radius: 10px;
  width: 100%;
  height: 250px;
}

.show-item .details {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
}

.show-item .details .show-title {
  font-size: 2rem;
  color: #ccc;
}

.comment-button {
  display: flex;
  border: none;
  background-color: #ccc;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  margin: auto;
  color: red;
  font-size: 1.2rem;
  font-weight: 500;
}

.footer {
  position: fixed;
  z-index: 10;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  color: blanchedalmond;
  background-color: black;
  padding: 20px;
  font-size: 1.2rem;
}
